@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #1e293b;
  font-family: Inter, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-card {
  animation: float 4s ease-in-out infinite;
}

.float-card-delay {
  animation: float 4s ease-in-out infinite;
  animation-delay: 1s;
}

.float-card-delay-2 {
  animation: float 4s ease-in-out infinite;
  animation-delay: 2s;
}